<header>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner" text-align="right">
   <a class="brand brand-right" href="#">New Post</a>
  </div>
</div>
</header>



<div class="container">
  <CAPTION><EM><h1>
    <%= @category_name.capitalize %>
  </h1></EM></CAPTION>
  <% @posts.each do |elem| %>
  <%= "<a href = /#{elem.title}>" %>
    <p>
     <%= elem.title %>
    </p>
  </a>
  <% end %>
</div>