<%= erb :_header %>

<div class="container">
  <CAPTION><EM><h1>
    <%= @category_name.capitalize %>
  </h1></EM></CAPTION>
  <% @posts.each do |elem| %>
  <%= "<a href = #{@category_path}/#{elem.id}>" %>
    <p>
     <%= elem.title %>
    </p>
  </a>
  <% end %>
</div>