<!DOCTYPE html>
<html lang="en">
<head>
<title>craigslist: auburn jobs, apartments, personals, for sale, services, community, and events</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="craigslist provides local classifieds and forums for jobs, housing, for sale, personals, services, local community, and events">
<meta name="google-site-verification" content="Ie0Do80edB2EurJYj-bxqMdX7zkMjx_FnjtQp_XMFio">
<meta name="msvalidate.01" content="3402AB8563AB1E080501C21306FE7811" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=1">
<link type="text/css" rel="stylesheet" media="all" href="/css/cl.css">
<link type="text/css" rel="stylesheet" media="all" href="/css/jquery-ui-1.9.2.custom.css?v=86db72e37d2cf63cab3c63485c71becb">
<link rel="prefetch" href="//www.craigslist.org/js/tocs-concat.min.js?v=326a799a74f7d5bfa08870ae7affd1f2">
<!--[if lt IE 9]>
<script src="//www.craigslist.org/js/html5shiv.min.js?v=42e8031bc7ca9d67a48f4a5feff7bf29" type="text/javascript" ></script>
<![endif]-->
<!--[if lte IE 7]>
<script src="//www.craigslist.org/js/json2.min.js?v=178d4ad319e0e0b4a451b15e49b71bec" type="text/javascript" ></script>
<![endif]-->
</head>
<body>
  <%= yield %>
</body>
</html>
